{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 hidden">
			<div class="alert alert-danger" id="error-alert">
				Unfortunately an error occurred. Please try again.
			</div>
		</div>
		<div class="col-lg-8 col-lg-offset-2">
			<p>
				Please select the Google Analytics accounts for which you would like to
				exclude the IP <strong>{{ ip }}</strong>:
			</p>
		</div>
		<form id="form" action="{% url 'public:install_complete' %}">
			{% csrf_token %}
			<div class="form-group">
				<div class="col-lg-7 col-lg-offset-3">
					{% for account in accounts %}
						<div class="checkbox">
							<label>
								<input type="checkbox" name="accounts"
											 value="{{account.id}}" checked="checked">
								{{account.name}}
							</label>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-8 col-lg-offset-2">
					<p>
						Please pick a name for the IP exclusion filter:
					</p>
					<label for="filter-name" class="sr-only">Filter name</label>
					<input type="text" class="form-control" id="filter-name"
								 name="filter-name" value="Work IP (via excludemyip.com)">
					<span class="help-block hidden" id="name-help">
						Name can't be empty.
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-1 col-lg-offset-7">
					<button id="submit" type="button"
									class="btn btn-success more-margin-top">
						Exclude IP
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
						</span>
					</button>
				</div>
			</div>
		</form>
	</div>
	<script type="text/javascript">
		$(function() {
			var button = $("#submit");
			var errorAlertContainer = $("#error-alert").parent();
			var form = $("#form");
			var progressAnimInterval;
			button.click(function() {
				if (button.hasClass('disabled'))
					return;
				button.addClass('disabled');
				var progressText = 'Creating filter';
				button.html(progressText);
				var numDots = 0;
				progressAnimInterval = setInterval(function() {
					button.html(progressText + ".".repeat(numDots));
					numDots = (numDots + 1) % 4;
				}, 400);
				button.blur();
				$.post(form.attr('action'), form.serialize(),
					function success(data) {
						if (data.success)
							window.location.href = data.url;
						else {
							form.find('#filter-name').closest('.form-group')
									.addClass('has-error');
							form.find('#name-help').removeClass('hidden');
							button.removeClass('disabled');
							clearInterval(progressAnimInterval);
							button.html(
									'Exclude IP' +
									'<span class="glyphicon glyphicon-chevron-right" ' +
										'aria-hidden="true">' +
									'</span>'
							);
						}
					}
				).fail(function() {
					errorAlertContainer.removeClass('hidden');
					button.removeClass('disabled');
					clearInterval(progressAnimInterval);
					button.html(
							'Try again' +
							'<span class="glyphicon glyphicon-chevron-right" ' +
								'aria-hidden="true">' +
							'</span>'
					);
				});
			});
		});
	</script>
{% endblock %}